<app-header></app-header>
<div class="container " *ngFor="let user of get_user_list; let i=index">
    <div class="d-flex justify-content-center">
        
        <div class="card mb-3 " style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ user.picture.large }}" class="img-fluid mt-2 ms-2" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p><small class="text-body-secondary">{{ user.login.username }}</small></p>
                    <p class="card-text">Name: {{user.name.first}}, {{user.name.last}}</p>
                    <p class="card-text">Birthday: {{ user.dob.date | date : "MMMM d, y" }}</p>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" (click)="viewData(i)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">View</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><button (click)="onPrevPage()" class="page-link">Prev</button></li>
            <li class="page-item"><a class="page-link" href="#">{{currentPage}}</a></li>
            <li  class="page-item"><button  (click)="onNextPage()" class="page-link">Next</button></li>
        </ul>
    </nav>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <div class="">
                <img src="{{ thumbnails }}" class="rounded-circle mb-4 border border-black border-1" alt="">
                <p class="fs-5">Name: {{first}}, {{last}}</p>
                <p class="fs-5">Email: {{email}}</p>
                <p class="fs-5">Number: {{number}}</p>
                <p class="fs-5">Location: {{locations}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
            </div>
        </div>
    </div>
  </div>
